<div class="contenedor-de-filtro">
  <div class="box-tipico-con-colores-traslucidos">
    <div class="contenedor-select">
      <select class="form-select" aria-label="Default select example" name="select-busqueda" (change)="cambiamosValor($event)">
        <option value= "id" >ID</option>
        <option value="marca_codigo" >Codigo</option>
        <option value="referencia"  >Referencia</option>
      </select>
    </div>
    <div class="contenedor-botones">
      <button class="linea-productobtn btn-secondary btn-lg btn-block" *ngFor="let item of datos;let posicionEnJson = index" (click)="seleccionamosProductoEnFiltro(posicionEnJson)">
        <img src="{{item.marca_logo}}" height="20px" />
        <h4 class="m-0">{{muestraValor(item)}}</h4>
      </button>
    </div>
  </div>
</div>
