.contenedor-tabla-producto {
    padding: 5px;
    height: 100%;
    overflow-y: hidden;
    .box-tipico-con-colores-traslucidos {
        height: 100%;
        overflow-y: hidden;
        background-color: rgba(255, 255, 255, 0.315);
        border-radius: 10px;
        .ficha-producto {
            font-weight: bold;
            height: 100%;
            overflow-y: auto;
            display: grid;
            grid-template-columns: 1fr 300px;
            .contenedor-datos-producto {
                display: flex;
                flex-direction: column;
                * {
                    padding: 3px;
                    width: 100%;
                }
                .contenedor-datos-producto-arriba {
                    display: flex;
                    flex-direction: row;
                }
                .contenedor-datos-producto-medio {
                    display: flex;
                    flex-direction: row;
                }
                .contenedor-datos-producto-abajo {
                    display: flex;
                    flex-direction: row;
                }
            }
            .imagen {
                height: 100%;
                overflow: auto;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px 5px;
                img {
                    width: 100%;
                }
            }
        }
    }
}