.contenedor-tabla {
    height: 100%;
    overflow-y: hidden;
    .box-tipico-con-colores-traslucidos {
        height: 100%;
        overflow-y: hidden;
        
        .ficha-producto {
            height: 100%;
            overflow-y: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 200px;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            
        }
    }
}
.imagen{
    height: 100%;
    width: 10px;
}