<div class="contenedor-principal" [ngClass]="{'contenedor-principal-flex':estilo==='FLEX','contenedor-principal-grid':estilo==='GRID'}">
    <app-cabecera class="contenedor-cabecera" (respuestaEstilo)="cambioEstilo($event)">
    </app-cabecera>
    <div class="contenedor-necesario-para-flex">
        <app-filtro class="contenedor-filtros"></app-filtro>
        <div class="contenedor-tabla">
            <div class="parte-arriba">
                <app-tabla></app-tabla>
            </div>
            <div class="parte-abajo">
                <app-imagenes></app-imagenes>
            </div>
        </div>
    </div>
    <div class="contenedor-pie">
    </div>
</div>