//** DISPLAY FLEX **//
.contenedor-principal-flex {
    display: flex;
    flex-direction: column;
    .contenedor-cabecera {
        background-color: yellow;
        flex: auto;
    }
    .contenedor-necesario-para-flex {
        background-color: blue;
        flex: 1;
        display: flex;
        flex-direction: row;
        .contenedor-filtros {
            background-color: green;
            flex: auto;
        }
        .contenedor-tabla {
            background-color: blueviolet;
            flex: 1;
        }
    }
    .contenedor-pie {
        flex: auto;
    }
}

//** DISPLAY GRID **//
.contenedor-principal-grid {
    background-color: darkslateblue;
    display: grid;
    grid-template-rows: auto 1fr auto;
    .contenedor-cabecera {
        background-color: gray;
    }
    .contenedor-necesario-para-flex {
        display: grid;
        grid-template-columns: auto 1fr;
      .contenedor-filtros{background-color: darkcyan;}
      .parte-arriba{background-color: goldenrod;}
      .parte-abajo{background-color: darkolivegreen;}
    }
    .contenedor-pie {
        background-color: gray;
    }
}

//** COMUNES **//
.contenedor-principal {
    height: 100vh;
    .contenedor-cabecera {
        height: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .contenedor-necesario-para-flex {
        height: 100%;
        overflow-y: hidden;
        .contenedor-filtros {
            height: 100%;
            width: 20rem;
            max-width: 20rem;
            overflow-y: hidden;
            padding: 10px;
        }
        .contenedor-tabla {
            height: 100%;
            overflow-y: hidden;
            display: grid;
            grid-template-rows: 6fr 4fr;
            padding: 10px;
            gap: 10px;
            .parte-arriba {
                height: 100%;
                overflow-y: hidden;
            }
            .parte-abajo {
                height: 100%;
                overflow-y: auto;
                .box-tipico-con-colores-traslucidos {
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    .contenido {
                        height: auto;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
    .contenedor-pie {
        height: 20px;
        max-height: 20px;
    }
}
