.contenido-imagenes {
  border-radius: 20px;
  background-color: white;
  overflow-y: auto;
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 20px;
  .div-necesario-para-orden {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.imagen-producto {
  height: 200px;
  width: 75%;
}
