.contenido-imagenes {
        height: 100%;
        background-color: red;
      
}
.imagen-producto {
  background-color: aqua;
}
.descripcion-producto {
  text-align: center;
  background-color: yellow;
}
