.contenido-imagenes {
        height: auto;
        background-color: red;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      
}
.imagen-producto {
  background-color: aqua;
}
.descripcion-producto {
  text-align: center;
  background-color: yellow;
}
